{
	"extends": [
		"react-app",
		"eslint:recommended"
	],
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 6
	},
	"env": {
		"es6": true
	},
	"max-len": [
		"error",
		{
			"code": 80
		}
	]
}